<div class="main container">
  <h1 class="text-center mb-5">Culinária</h1>
  <div class="row">
    <div class="btn-new col-12 col-md-6">
      <div class="div-img" routerLink="/home/new">
        <img src="../../../assets/images/new.jpg">
      </div>
      <div class="div-name" routerLink="/home/new">
        Criar Receita
      </div>
    </div>
    <div class="btn-view col-12 col-md-6">
      <div class="div-img" routerLink="/home/view">
        <img src="../../../assets/images/view.jpg">
      </div>
      <div class="div-name" routerLink="/home/view">
        Visualizar Receitas
      </div>
    </div>
  </div>
</div>