.new {
  padding: 30px;
  .nav-item {
    width: 33%;
    text-align: center;
    .nav-link {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &.active {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .btn-danger {
    position: absolute;
    bottom: 5px;
  }
  .lbl-qtd {
    white-space: nowrap;
  }
  .form-control {
    background-color: rgba(255, 255, 255, 0.3);
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
      border-color: #9ebbbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(#197278, 0.25);
    }
  }
  .alert {
    width: 100%;
  }
}
